@import '../../index.scss';

.section {
  padding-bottom: 0;
  position: relative;
}

.wrapper {
  width: 100%;
  background-color: $bg-color-secondary;
  border-bottom-left-radius: 100px;
  @include media-query(mobile) {
    height: 305px;
    background-image: url(../../shared/images/auth/kapusta_sm.svg);
    background-size: 50px 89px;
    background-repeat: no-repeat;
    background-position: top 104px right 0;
  }
  @include media-query(tablet) {
    height: 526px;
    background-image: url(../../shared/images/auth/kapusta_md.svg);
    background-size: 100% 232px;
    background-repeat: no-repeat;
    background-position: top 30px left 0;
  }
  @include media-query(desktop) {
    background-image: url(../../shared/images/auth/kapusta_lg.svg);
    background-size: 100% 232px;
    background-repeat: no-repeat;
    background-position: top 30px left 0;
  }
}

.titleGroup {
  @include media-query(mobile) {
    padding-top: 86px;
    // padding-bottom: 79px;
    padding-left: 20px;
    width: 203px;
  }
  @include media-query(tablet) {
    padding-top: 80px;
    // padding-bottom: 79px;
    padding-left: 171px;
    width: 480px;
  }
  @include media-query(desktop) {
    padding-top: 308px;
    padding-bottom: 79px;
    padding-left: 230px;
    width: 650px;
  }
}
.title {
  font-family: 'Roboto';

  font-weight: 900;
  line-height: 1.17;
  @include media-query(mobile) {
    font-size: 50px;
  }
  @include media-query(tablet) {
    font-size: 82px;
  }
  @include media-query(desktop) {
    font-size: 102px;
  }

  font-weight: 900;
  font-size: 102px;
  line-height: 1.17;
}

.titleSpan {
  font-family: 'Roboto';

  font-weight: 900;
  line-height: 1.17;
  @include media-query(mobile) {
    font-size: 40px;
  }
  @include media-query(tablet) {
    font-size: 65px;

    @include media-query(desktop) {
      font-size: 85px;
    }
  }
}

.titleText {
  font-family: 'Roboto';

  font-weight: 700;
  text-transform: uppercase;
  color: $color-secondary;
  @include media-query(mobile) {
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: 0.15em;
    padding-left: 11px;
  }
  @include media-query(tablet) {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.18em;
    padding-left: 56px;
  }
  @include media-query(desktop) {
    padding-left: 72px;
  }
}

.helper {
  width: 100%;
  @include media-query(mobile) {
    height: 515px;

    background-image: url(../../shared/images/auth/2kapustas_sm.svg);
    background-size: 83px 89px;

    background-repeat: no-repeat;
    background-position: bottom 0 left 35px;
  }
  @include media-query(tablet) {
    height: 442px;
    background-image: url(../../shared/images/auth/2kapustas_md.svg);
    background-size: 183px 142px;

    background-repeat: no-repeat;
    background-position: bottom 56px left 103px;
  }
  @include media-query(desktop) {
    height: 268px;

    background-image: url(../../shared/images/auth/2kapustas_lg.svg);
    background-size: 183px 142px;

    background-repeat: no-repeat;
    background-position: top 75px left 230px;
  }
}

//  @include media-query(mobile) {

//   }
//   @include media-query(tablet) {

//   }
//   @include media-query(desktop) {

//   }
