@import '../../index.scss';

.section {
  padding-bottom: 0;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 526px;
  background-color: $bg-color-secondary;

  border-bottom-left-radius: 100px;
  background-image: url(../../shared/images/bg-kapusta_lg_1x.png);
  background-size: 100% 232px;

  background-repeat: no-repeat;
  background-position: top 30px left 0;
}

.titleGroup {
  padding-top: 308px;
  padding-bottom: 79px;
  padding-left: 230px;
  width: 380px;
  // text-align: center;
}
.title {
  font-family: 'Roboto';

  font-weight: 900;
  font-size: 102px;
  line-height: 1.17;
  color: $color-primary;
}

.titleSpan {
  font-family: 'Roboto';

  font-weight: 900;
  font-size: 85px;
  line-height: 1.17;
  color: $color-primary;
}

.titleText {
  font-family: 'Roboto';

  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.18em;
  text-transform: uppercase;

  color: $color-secondary;
  padding-left: 72px;
}

.helper {
  width: 100%;
  height: 268px;

  background-image: url(../../shared/images/bg-2kapustas_lg_1x.png);
  background-size: 183px 142px;

  background-repeat: no-repeat;
  background-position: top 75px left 230px;
}
