@import '../../shared/styles/';

.custom_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: #52555f;
}
