@import '../../shared/styles/';

.reportsContainer {
  padding-left: 123px;
  padding-right: 123px;
}
.reportsNav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.buttonBack {
  display: flex;
  align-items: center;

  background-color: transparent;
}
.buttonBackArrow {
  margin-right: 16px;
  fill: $color-accent;
  width: 24px;
  height: 24px;
}
.currentPeriod_month {
  display: flex;
}
.buttonPeriod {
  display: flex;

  align-items: center;

  background-color: transparent;
}
.buttonPeriod_svg {
  width: 4px;
  height: 10px;
  stroke: $color-accent;
  fill: transparent;
}
.currentPeriodText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;

  color: rgba(82, 85, 95, 0.7);
}
.currentPeriod_month {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
}
.budget {
  display: flex;
  justify-content: center;
 
  padding: 7px;
  margin-bottom: 32px ;

  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
border-radius: 30px;
}
.budgetText {
  padding: 8px 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $color-secondary;
  &:not(:last-child) {
    border-right: 1px solid #E0E5EB;
  }
  
  & .budgetText_expanse {
    margin-left: 15px;
    color: #e53935;
  }
  & .budgetText_income {
    margin-left: 15px;
    color: #407946;
  }
}


.budget_category {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  padding: 20px 200px;
  
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
}

.budget_category_type {
  display: flex;
  margin-bottom: 32px;
}

.budget_type { 
  margin: 0 16px;
}

