.wrapper {
  border: 1px solid #000000;
}

.text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
}

.month {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #52555f;
}
