@import '../../index.scss';
@import '../../shared/styles/index';

.background {
  @include media-query(mobile-only) {
    width: 100%;
    height: 258px;
    padding-top: 56px;
    padding-bottom: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: $bg-color-secondary;
    border-radius: 0px 0px 0px 100px;
  }

  @include media-query(tablet-only) {
    display: flex;
    background-color: white;
    border: 2px solid #f5f6fb;
    border-radius: 16px 16px 16px 0px;
    width: 480px;
    height: 44px;
    align-items: center;
  }

  @include media-query(desktop) {
    display: flex;
    align-items: center;
    background-color: white;
    width: 578px;
    height: 44px;
    border: 2px solid #f6f7fc;
    border-radius: 16px 16px 16px 0px;
    margin-right: 16px;
  }
}

.descriptionInput {
  width: 280px;
  height: 44px;
  padding: 0;
  padding-left: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #52555f;

  outline: none;

  background: transparent;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-bottom: transparent;
  border-radius: 10px 10px 0px 0px;
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;

    color: #c7ccdc;
  }
  @include media-query(tablet) {
    border: none;
    width: 159.32px;
    height: 40px;
  }
  @include media-query(desktop) {
    width: 238.51px;
  }
}

.wrapper {
  @include media-query(desktop) {
    display: flex;
    align-items: center;
  }
  @include media-query(tablet-only) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
  }
  @include media-query(mobile-only) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }
}

.calculatorInput {
  width: 125px;
  height: 44px;
  padding: 0;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  background: transparent;
  border: none;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-radius: 22px 0px 0px 22px;
  outline: transparent;
  &::placeholder {
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.02em;
    color: #c7ccdc;
  }

  @include media-query(tablet) {
    width: 100px;
    height: 40px;
  }
  @include media-query(desktop) {
    width: 119px;
  }
}

.select {
  @include media-query(mobile-only) {
    width: 280px;
    height: 44px;
    margin: 0 auto;
  }
  @include media-query(tablet) {
    width: 186px;
  }
}

.image {
  @include media-query(mobile-only) {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 22px 0px 0px 22px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.calculator {
  @include media-query(tablet-only) {
    width: 20px;
    height: 20px;
    :hover {
      border: none;
    }
  }
  @include media-query(mobile-only) {
    width: 20px;
    height: 20px;
  }
  height: 20px;
}

.btn {
  @include media-query(mobile-only) {
    width: 136px;
    height: 44px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $color-secondary;
    background: #ffffff;
    border: 2px solid #f6f7fc;
    border-radius: 16px;

    &:hover,
    &:focus {
      color: #ffffff;
      background: $color-accent;
    }
  }
}

.groupBtn {
  @include media-query(mobile-only) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
