.product-select {
  & .custom__control {
    border: 1px solid #000000;
    border-radius: 30px;
    background-color: transparent;
    @include media-query(mobile-only) {
      margin-bottom: 20px;
    }
    @include media-query(tablet) {
      width: 155px;
    }
    @include media-query(desktop) {
      width: 166px;
    }
  }
  & .custom-selectvalue-container {
    padding: 12px 0 12px 21px;
  }
  & .custom-select__menu {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);

    border-radius: 20px;
  }
}
