@import '../../index.scss';

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  @include media-query(mobile-only) {
    width: 320px;
    margin: 0 auto;
  }
  @include media-query(tablet-only) {
    width: 768px;
    margin: 0 auto;
  }
  @include media-query(desktop) {
    width: 1280px;
    margin: 0 auto;
  }
}

.logo {
  height: 31px;
  width: 90px;
  margin: 2px 0 3px 6px;
  @include media-query(tablet-only) {
    margin: 3px 0 2px 22px;
  }
  @include media-query(mobile-only) {
    margin: 3px 0 2px 10px;
  }
}

.list {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-right: 6px;
  @include media-query(tablet-only) {
    margin-right: 22px;
  }
  @include media-query(mobile-only) {
    margin: 2px 10px 2px 0;
  }
}

.userAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #f5f6fa;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #52555f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  @include media-query(tablet-only) {
    margin-right: 16px;
  }
  @include media-query(mobile-only) {
    margin-right: 16px;
  }
}

.username {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.04em;
  color: #52555f;
  margin-right: 20px;
  @include media-query(mobile-only) {
    display: none;
  }
}

.devideSvg {
  width: 0px;
  height: 34px;
  border: 1px solid #e0e5eb;
  margin-right: 20px;
  @include media-query(mobile-only) {
    display: none;
  }
}

.exit {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  @include media-query(mobile-only) {
    display: none;
  }
}

.mobileExit {
  display: none;
  cursor: pointer;
  @include media-query(mobile-only) {
    display: inline;
  }
}
