@import '../../shared/styles/';

.budget {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 10px;

  margin-bottom: 32px;

  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;

  background-color: #ffffff;

  @include media-query(tablet) {
    padding: 17px;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 80%;
    background-color: #e0e5eb;
  }
}
.budgetText {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $color-secondary;

  @include media-query(mobile-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .budgetText_expanse {
    @include media-query(tablet) {
      margin-left: 15px;
    }

    color: #e53935;
  }
  & .budgetText_income {
    @include media-query(tablet) {
      margin-left: 15px;
    }
    color: #407946;
  }
}
