@import '../../index.scss';

.form {
  position: relative;
  @include media-query(tablet) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.text {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(82, 85, 95, 0.7);
  @include media-query(tablet) {
    margin-bottom: 0px;
    margin-right: 21px;
  }
}

.wrapper {
  text-align: center;
}

.input {
  width: 140px;
  height: 44px;
  outline: transparent;
  border: 2px solid #ffffff;
  border-radius: 22px 0px 0px 22px;
  background-color: transparent;

  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;

  @include media-query(tablet) {
    margin-right: 15px;
    border: 2px solid #ffffff;
    border-radius: 16px;
  }
  &::placeholder {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  &:title {
    color: #000;
  }
}

.confirm {
  width: 140px;
  height: 44px;
  border: 2px solid #ffffff;
  border-radius: 0px 22px 22px 0px;
  background-color: transparent;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(82, 85, 95, 0.7);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $color-accent;
  }

  @include media-query(tablet) {
    border: 2px solid #ffffff;
    border-radius: 16px;
  }
}

.sentance1 {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.43;
}
.sentance2 {
  font-size: 12px;
  line-height: 1.33;
}

.input ~ .tooltiptext {
  visibility: hidden;
  width: 280px;
  padding: 40px 25px 32px;
  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  color: #fff;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 38%;
  left: 6%;

  opacity: 0;
  transition: opacity 0.3s;
  @include media-query(responsive) {
    top: 38%;
    left: 25%;
  }
  @include media-query(tablet) {
    position: absolute;
    width: 288px;
    margin-left: -60px;
    padding: 40px 29px 32px;

    top: 132%;
    left: 35%;
  }
}

.input ~ .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  border-width: 16px;
  border-style: solid;
  border-color: #1d346a transparent transparent transparent;
  rotate: 180deg;
}

.input:hover ~ .tooltiptext {
  visibility: visible;
  opacity: 1;
}
