@import '../../index.scss';

.background {
  min-width: 320px;
  padding: 40px 0px;
  background-color: $bg-color-secondary;
  border-radius: 0px 0px 0px 100px;
  @include media-query(tablet-only){
    height: 526px;
  }
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  

  @include media-query(mobile-only) {
    margin-bottom: 40px;
  }
  @include media-query(tablet) {
  }
  @include media-query(desktop) {
    right: 91px;
    top: 45px;
  }
}

.text {
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(82, 85, 95, 0.7);
}

.chart {
  width: 24px;
  height: 24px;
}

.btn {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.button {
  width: 158px;
  height: 53px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
  background: #f5f6fb;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $color-accent;
  }
}

.kapusta {
  @include media-query(tablet-only) {
    height: 378px;
    background-image: url(../../shared/images/auth/2kapustas_md.svg);
    background-size: 183px 146px;
    background-repeat: no-repeat;
    background-position: bottom 59px right 88px;
  }
  @include media-query(desktop) {
    height: 194px;
    background-image: url(../../shared/images/auth/kapusta_lg.svg);
    background-size: 100% 232px;
    background-repeat: no-repeat;
    background-position: top 656px left 10;
  }
}

.HomeContainer {
  @include media-query(tablet-only){
    width: 704px;
    margin: 40px auto 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
