@import '../../index.scss';

.section {
  width: 320px;
  background-image: url(../../shared/images/HomePage/background.png);
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.text {
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(82, 85, 95, 0.7);
}

.chart {
  width: 24px;
  height: 24px;
  color: $color-secondary;
}

.balance {
  width: 140px;
  height: 44px;
  border: 2px solid #ffffff;
  border-radius: 22px 0px 0px 22px;
  background-color: transparent;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.confirm {
  width: 140px;
  height: 44px;
  border: 2px solid #ffffff;
  border-radius: 0px 22px 22px 0px;
  background-color: transparent;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(82, 85, 95, 0.7);
}

.date {
  display: flex;
  align-items: center;
  height: 40px;
  width: 102px;
  gap: 8px;
}

.calendar {
  width: 20px;
  height: 20px;
}

.DatePicker {
  border: none;
  font-weight: 900;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-secondary;
  background-color: transparent;

  // @include media-query(tablet) {
  // }
}

.btn {
  margin-top: 40px;
  display: flex;
  gap: 4px;
}

.button {
  width: 158px;
  height: 53px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
  background: #f5f6fb;
}
